.delete-confirmation-dialog{position:absolute;left:50%;bottom:0;transform:translate(-50%,0);background:#fff;border:1px solid rgba(0,0,0,.2);border-radius:5px;padding:20px;width:100%;max-width:650px;z-index:1}
.dialog-header{display:flex;justify-content:space-between}
.dialog-header p{margin:0}
.dialog-header svg{vertical-align:middle}
.close-icon{background:0 0;border:none;cursor:pointer}
.dialog-content{padding:10px;margin-top:20px;display:flex;justify-content:flex-end;gap:10px}
.btn{border-radius:10px;border:.5px solid #c6c6c6;padding:10px 20px;cursor:pointer}
.delete-btn{background-color:red;color:#fff}